@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:hover {
    cursor: pointer;
    transform: scale(1.25);
}
.hero {
    padding: 1rem 2rem;
    background-image: url("../images/top_cprner.png"), url("../images/ellipse_1.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 340px, 40px;
    background-position: left 0px top 0px, left 1330px top 446px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.navLeft{
    width: 30%;
}
.denLogo{
    line-height: 1;
    color: white;
}
.logoMain{
    font-weight: 700;
    font-size: 1.7rem;
}
.navRight {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.hamburgerIcon div {
    margin: 4px 0;
}
.firstLine, .thirdLine {
    width: 30px;
    height: 3px;
    background-color: #fb6818;
}
.secondLine {
    translate: 15px;
    width: 15px;
    height: 3px;
    background-color: #fb6818;
}
.heroContent {
    padding: 4rem 2rem 2rem 8rem;
    display: flex;
  
}
.heroLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroFirstLine {
    font-size: 1.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heroSecondLine {
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1;
}
.heroParagraph {
    padding: 2rem 0;
    width: 88%;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
}
.heroButtons button {
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 2rem;
    background-color: white;
    margin-right: 1rem;
    border-radius: 3px;
    font-weight: 600;
}
.readMoreBtn {
  border: 2px solid #248261;
  color: #248261;
}
.heroRight img {
    width: 580px;
}
.circleSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.circle {
    border: 2px solid;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 2px;
    cursor: pointer;
}
.circleGreen {
    border-color: #248261;
}
.circleOrange {
    border-color: #fb6818;
    height: 1rem;
    width: 1rem;
    vertical-align: top;
}
.heroLine {
    width: 90%;
    border: 1px solid #afafaf;
    margin-left: 3rem;
}
.servicesContent {
    padding: 2rem 8rem;
}
.servicesHeading {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
.servicesLineContainer {
    display: flex;
    justify-content: center;
}
.servicesLine {
    border: 2px solid #248261;
    width: 5rem;
    border-radius: 4px;
    height: 0.35rem;
    background-color: #248261;
}
.servicesList {
    padding-top: 1rem;
}
.servicesListItem {
    display: flex;
    align-items: center;
    padding: 1rem 0.8rem;
    box-shadow: 0.5rem 0.5rem 60px #f0f0f0;
    margin: 1.5rem 0;
}
.serviceImage {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceImage img {
    height: 80px
}
.bus img{
    height: 70px;
}
.meals img {
   height: 30px;
}
.serviceText {
    padding: 0.5rem 3rem;
}
.serviceTextHeading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.serviceTextContent {
    padding-top: 0.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
.servicesBtnContainer {
    padding: 1rem 0;
    text-align: center;
}
.greenBtn {
    font-family: "Poppins", sans-serif;
    background-color: #248261;
    border: none;
    border-radius: 2px;
    color: white;
}
.serviceBtn {
    padding: 0.5rem 2rem;
}
.aboutContent {
    display: flex;
}
.aboutLeft {
    width: 50%;
     
}
.about img {
    width: 100%;
}
.aboutRight {
    background: #fb6818;
    width: 50%;
    height: 478px;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}
.aboutHeading {
    font-size: 2rem;
}
.aboutLine {
    border: 2px solid white;
    width: 5rem;
    border-radius: 4px;
    height: 0.35rem;
    background: white;
}
.aboutText {
    width: 78%;
    padding: 3rem 0;
}
.aboutButton button {
    font-family: "Poppins", sans-serif;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 2px;
    font-weight: 500;
}
.whyUsContent {
    padding: 4rem 12rem;
    font-family: "Poppins", sans-serif;
}
.whyUsHeading {
    font-size: 2rem;
    text-align: center;
}
.whyUsLineContainer {
    display: flex;
    justify-content: center;
}
.whyUsLine, .blogLine {
    border: 2px solid #248261;
    width: 5rem;
    border-radius: 4px;
    height: 0.35rem;
    background-color: #248261;
}
.whyUsSubHeading {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}
.whyItems {
    display: flex;
}
.pureWater, .games {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.waterHeading, .gardenHeading, .gamesHeading {
    font-weight: bold;
    padding: 1rem 0;
}
.waterSub, .gamesSub {
    width: 75%;
    text-align: center;
}
.gardenSub {
    width: 75%;
    text-align: center;
    padding-bottom: 1rem;
}
.waterImage, .gameImage {
    background: black;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.garden {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gardenImage {
    background: black;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.whyBtn button{
    margin-top: 2rem;
    padding: 0.5rem 2rem;
}
.blogContent {
    padding: 4rem 6rem;
    font-family: "Poppins", sans-serif;
}
.blogHeading {
    text-align: center;
    font-size: 2rem;
}
.blogLineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogSub {
    text-align: center;
    padding: 1rem 0 3rem 0;
}
.blogGallery {
     display: flex;
}
.gallery {
    padding: 0 0.5rem;
    box-shadow: 0.5rem 0.5rem 60px #f0f0f0;
}
.gallerySecond {
    padding-top: 1rem;
}
.galHeading {
    font-weight: bold;
}
.galSub {
    padding: 1rem 0;
    width: 75%;
}
.testimonials {
    background-color: #1d1f1e;
    font-family: "Poppins", sans-serif;
    padding-bottom: 2rem;
}
.testimonialContent {
    padding: 6rem 4rem 2rem 8rem;
    display: flex;
    align-items: center;
}
.testimonialLeft {
    color: white;
}
.testimonialHeading {
    font-size: 2rem;
}
.testimonialLine {
    border: 2px solid white;
    width: 5rem;
    border-radius: 4px;
    height: 0.35rem;
    background-color: white;
}
.testimonialSub {
    padding-top: 1rem;
    width: 85%;
    font-size: 0.9rem;
}
.testimonialRight {
    display: flex;
}
.hannery {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin-right: 2rem;
    padding: 1rem 2rem;
}
.channery {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 1rem 2rem;
   
}
.name {
    font-weight: bold;
    translate: 0 -20px;
}
.review {
    width: 95%;
    text-align: center;
}
.hanneryImage, .channeryImage {
    background-color: #fb6818;
    width: 6.2rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 0 -40px;
}
.hanneryImage img, .channeryImage img {
    height: 6rem;
}
.channery {
    translate: 0 50px;
}
.testimonialButtons {
    padding-left: 8rem;
    display: flex;
}
.buttonLeft, .buttonRight {
    background-color: #fb6818;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3rem;
    cursor: pointer;
}
.whiteBar {
    height: 4rem;
}
.contact {
    background-color: #fb6818;
    color: white;
    font-family: "Poppins", sans-serif;
}
.contactContent {
    padding: 1rem 8rem;
    display: flex;
}
.call, .mail {
    display: flex;
    align-items: center
}
.call div, .mail div {
    padding: 0 1rem;
}
.contactImage {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe {
    translate: 120px 0;

}
.subscribe input {
    width: 25rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    padding-left: 1rem;
}
.subscribe button {
    border: none;
    border-radius: 15px;
    background-color: #fb6818;
    color: white;
    translate: -180px;
    height: 1.5rem;
    padding: 0 3rem;
}
.footer {
    background-color: black;
    font-family: "Poppins", sans-serif;
}
.footerContent {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}
.footerLeft {
    width: 50%;
}
.footerSub {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
    line-height: 1.8;
}
.footerRight {
    display: flex;
    width: 40%;
    padding-top: 3.2rem;
}
.information {
    padding-right: 4rem;
}
.infoHeading, .linksHeading {
    font-weight: bold;
}
.information li, .links li{
    list-style: none;
    font-size: 0.8rem;
    padding: 0.3rem 0;
}
.copyright {
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 0;
    text-align: center;
}